@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Founders and Team!</h1>


<h1>Welcome to Our Dev Bootcamp web</h1>

<p>As part of learning learning Cloud Computing and using Blazor to build and deploy a simple, clean web app.</p>

<p>This is our homepage where we share updates, resources and links.</p>

<img src="../lib/images/schedule.jpg" alt="Alternate Text" />

<p>Feel free to explore the navigation and check out the sample Counter and Weather components!</p>



