@page "/internalpage"

<PageTitle>Azure Secrets</PageTitle>

<h3>Welcome, here is the link to the secret questionnaire</h3>

<a href="https://docs.google.com/forms/d/e/1FAIpQLSe4WUBczI2aK2-8iZzJOASRNfAKdRUkP6z_exSKWYIvKi_wjQ/viewform?usp=preview" target="_blank" rel="noopener noreferrer">Secret Questionnaire</a>

